<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>webshopREST</display-name>
 <context-param>
  <description>JNDI-Namen fuer RESTEasy: angepasst fuer Arquillian</description>
  <param-name>resteasy.jndi.resources</param-name>
  <param-value>java:global/test/webshopEJB/KundenverwaltungResourceEJB,
  	java:global/test/webshopEJB/BestellverwaltungResourceEJB
  	java:global/test/webshopEJB/ArtikelverwaltungResourceEJB</param-value>
 </context-param>
 <context-param>
  <param-name>resteasy.providers</param-name>
  <param-value>de.webshop.bestellungsverwaltung.rest.BestellungValidationExceptionMapper,
    de.webshop.bestellungsverwaltung.rest.BestellverwaltungExceptionMapper,
    de.webshop.benutzerverwaltung.rest.BenutzerValidationExceptionMapper,
    de.webshop.benutzerverwaltung.rest.BenutzerverwaltungExceptionMapper,
    de.webshop.artikelverwaltung.rest.ArtikelValidationExceptionMapper,
    de.webshop.artikelverwaltung.rest.ArtikelverwaltungExceptionMapper,
    de.webshop.util.NotFoundExceptionMapper</param-value>
 </context-param>
 <context-param>
  <param-name>resteasy.use.builtin.providers</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>resteasy.role.based.security</param-name>
  <param-value>true</param-value>
 </context-param>
 <filter>
  <filter-name>Resteasy</filter-name>
  <filter-class>
   org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
  </filter-class>
 </filter>
 <filter-mapping>
  <filter-name>Resteasy</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <login-config> 
  <auth-method>BASIC</auth-method> 
 </login-config>
 <!--
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Kunden erzeugen und modifizieren</web-resource-name>
   <url-pattern>/benutzerverwaltung/benutzer</url-pattern>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
   <role-name>mitarbeiter</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Kunden durch ein "Formular" erzeugen</web-resource-name>
   <url-pattern>/kundenverwaltung/kunden/form</url-pattern>
   <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
   <role-name>mitarbeiter</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Kunden loeschen</web-resource-name>
   <url-pattern>/kundenverwaltung/kunden/*</url-pattern>
   <http-method>DELETE</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Bestellungen erzeugen</web-resource-name>
   <url-pattern>/bestellverwaltung/bestellungen</url-pattern>
   <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
   <role-name>mitarbeiter</role-name>
  </auth-constraint>
 </security-constraint>
 <security-role>
  <role-name>admin</role-name>
 </security-role>
 <security-role>
  <role-name>mitarbeiter</role-name>
 </security-role>-->
</web-app>
